before_install:
- wget https://github.com/CynepHy6/ap/releases/download/0.9.15/ap-ubuntu64
install:
- chmod +x ./ap-ubuntu64
script: for D in src/*; do ./ap-ubuntu64 ${D}/;  done;
after_success:
- git checkout ${TRAVIS_BRANCH}
- git config --global user.email "builds@travis-ci.com" 
- git config --global user.name "Travis CI"
- git remote add origin-master https://${GITHUB_TOKEN}@github.com/GenesisKernel/apps > /dev/null 2>&1
- git add ./*.json
- git commit --message "Autobuild N.$TRAVIS_BUILD_NUMBER [ci skip]"
- git push origin-master